body {
    background-image: url(image/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100;
    height: 100vh;
}
header{
    height: 150px;
}
.quote{
    display: flex;
    flex-direction: column;
/*    background-color: white;*/
    width: 650px;
    height: 400px;
    margin: auto auto 0px;
}
.quotetext{
    text-align: justify;
    font-size: 40px;
    padding: 20px 20px 0px;
    margin: auto auto 0px;
}
.quoteauthor{
    font-size: 25px;
    padding: 0px 20px;
    text-align: right;
    margin: auto 0px 0px;
}
.authorinfo{
    text-align: left;
    font-size: 20px;
    padding: 10px;
    width: 500px;
    margin: auto 0px 0px 0px;
}
.button{
    text-align: center;
    padding: 10px;
    height: 30px;
    width: 175px;
    margin: 10px auto;
    font-size: 25px;
    border: 1px solid none;
    background-color: RGB(220, 132, 138);
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;
}